<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>LudicBankApplication</display-name>
	<welcome-file-list>
		<welcome-file>BankLoginPage.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginPageServlet</display-name>
		<servlet-name>LoginPageServlet</servlet-name>
		<servlet-class>LoginPageServlet</servlet-class>


	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPageServlet</servlet-name>
		<url-pattern>/loginPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutPage</display-name>
		<servlet-name>LogoutPage</servlet-name>
		<servlet-class>LogoutPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutPage</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignUpPage</display-name>
		<servlet-name>SignUpPage</servlet-name>
		<servlet-class>SignUpPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpPage</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	 <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    
    <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/priya</param-value>
    </context-param>
    
    
    <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
    </context-param>
    
    <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
    </context-param>
    

</web-app>